.box-outside{
    color: white;
    border: 1px solid white;
    width: 25%;
    height: 6rem;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 2rem;
    background-color: #071a07;
    gap: 2rem;
}

.box-inside{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.value{
    font-size: 2rem;
}

h2{
    margin: 0px;
}

.header-icons{
    margin:5px;
    font-size:1.5rem
}