.app{
  margin: 2rem;
}

.invetory-header{
  font-weight:400;
  color:white;

}

.boxContainer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.table{
  background-color: rgba(47, 55, 61, 0.95);
}

.view-mode-switch label{
  color:white
}
